{% extends "baselayout.html" %}

{% block body %}

    <div class="cnt-tab-panel">    
        <a class="active-tab" href="{{ url_for('admin_category') }}">Категории</a>
        <a class="inactive-tab" href="{{ url_for('admin_manager') }}">Менеджеры</a>
    </div>

    <div class="cnt-menu">
        <div class="cnt-menu-header">
            <span>Каталог товаров:</span>
            <div class="new-category">
                <a href="{{ url_for('admin_category') }}" title="Новая категория">
                    <img src="{{ url_for('static', filename='icons/new.png') }}" />
                </a>
            </div>
        </div>
        <div class="cnt-menu-cnt">           
            <nav>      
                {% for pcategory in categories %}                
                    <a {% if pcategory.id == category.id %}class="active"{% endif %} href="{{ url_for('admin_category', categoryId=pcategory.id) }}">{{ pcategory.name }}</a>
                {% endfor %}            
            </nav>
        </div>
    </div>

    <div class="cnt-main">
        <form class="data-form" {% if category %} action="{{ url_for('admin_category', categoryId=category.id) }}"
            {% else %} action="{{ url_for('admin_category') }}" {% endif %} method="POST">
                <span>Категория:</span>
                <input type="text" name="name" value="{{ category.name }}"></input>
                <div class="data-form-button">
                    {% if category %}
                        <input type="submit" name="edit" value="Редактировать"></input>
                        <input type="submit" name="delete" value="Удалить"></input>                    
                    {% else %}                
                        <button type="submit">Добавить</button>
                    {% endif %}                                    
                    <a href="{{ url_for('admin_category') }}">
                        <button type="button">Отмена</button>
                    </a>
                </div>
                <div style="clear:both"></div>
        </form>
    </div> <!-- cnt-main -->        
{% endblock body %}