{% extends "layout.html" %}

{% block body %}    
    <div class="cnt-menu">
        <div class="cnt-menu-header">
            <span>Каталог товаров:</span>            
        </div>
        <div class="cnt-menu-cnt">        
            <p>Здесь пусто, поскольку, за Вами еще не закреплено ни одной категории товара.
                <br>Пожалуйста, обратитесь за помощью к администратору.</p>
        </div>
    </div>

    <div class="cnt-main"></div> <!-- cnt-main -->        
{% endblock body %}