{% extends "layout.html" %}

{% block body %}
    <form class="product-info" action="#" method="POST">
        <span class="product-info-cat">Категория: Стиральные машины</span>
        <img src="/images/id1719049514631772443.jpg" alt="Изображение продукта" />
        <dl>
            <dt>Наименование</dt>
            <dd><input type="text" name="name" title="Наименование" placeholder="Bosch WLG 20060" /></dd>
            <dt>Артикул</dt>
            <dd><input type="text" name="articul" title="Артикул" placeholder="AL-238690" /></dd>
            <dt>Цена</dt>
            <dd><input type="text" name="price" title="Цена" placeholder="17 000" /></dd>
            <dt>Описание</dt>
            <dd><textarea rows="5" cols="50" title="Описание"></textarea></dd>
        </dl>
        <div class="product-info-btn">
            <button type="submit"  title="Сохранить">Сохранить</button>
            <button title="Отмена">Отмена</button>
        </div>
    </form>
{% endblock body %}