{% extends "baselayout.html" %}

{% block body %}
    <div class="cnt-menu">
        <div class="cnt-menu-header">
            <span>Каталог товаров:</span>            
        </div>
        <div class="cnt-menu-cnt">           
            <nav>
                {% for category in user.categories %}
                    {% if category.id == categoryId %}                    
                        <a class="active" href="{{ url_for('index', categoryId=category.id) }}">{{ category.name }}</a>
                    {% else %}                    
                        <a href="{{ url_for('index', categoryId=category.id) }}">{{ category.name }}</a>
                    {% endif %}
                {% endfor %}
            </nav>        
        </div>
    </div>

    <div class="cnt-main">
        {% if user.categories.count() %}
        <div class="cnt-main-header">
            <div class="new-product">
                <a href="{{ url_for('product') }}" title="Новый продукт">
                    <img src="{{ url_for('static', filename='icons/new.png') }}" />
                </a>           
            </div>
            {% if user.categories.filter_by(id=categoryId).first().products.count() %}
            <div class="view-selector">
                <a id="gridBtn" href="{{ url_for('index', categoryId=categoryId, vlist=0) }}" title="Представление: сетка">
                    <img src="{{ url_for('static', filename='icons/vgrid.png') }}" />
                </a>
                <a id="listBtn" href="{{ url_for('index', categoryId=categoryId, vlist=1) }}" title="Представление: таблица">
                    <img src="{{ url_for('static', filename='icons/vlist.png') }}" />
                </a>
            </div>
            <form class="search-panel">
                <div><input type="text" placeholder="Поиск"></div>
                <a href="/" type="submit" title="Go"></a>
            </form>
            {% endif %}
        </div>
        <div class="cnt-main-row">
            {% block view %}{% endblock %}        
        </div>
        {% endif %}
    </div> <!-- cnt-main -->        
{% endblock body %}