* {
	box-sizing: border-box;
}

html {
	height: 100%;
}

body {
	height: 100%;
	margin: 0;	
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;	
	min-width: 570px;
}

a:focus, input:focus {
	outline: none;
}

.header {
	padding: 10px 0;	
	border-bottom: 1px solid #563d7c;
	margin-bottom: 30px;
}

.header > h2 {	
	display: inline;
	color: #4c3372;
}

#doggy {	
	padding-left: 20px;
	font-size: 1.7em;
	color: #30cb00;
}

.user-panel {
	float: right;
	margin-right: 15px;
	padding-left: 5px;
}

.user-panel .user-title {	
	padding: 5px 10px 4px 0;	
	float: left;
	font-size: 13px;	
	border-right: none;
	color: #444;
}

.user-panel > a {
	height: 24px;
	width: 24px;
	float: right;
}

.cnt {
  margin: 0 auto;
}

.cnt-menu {
	float: left;		
	min-width: 250px;
}

.cnt-menu-header {
	height: 30px;
	padding-left: 20px;	
	padding-top: 5px;
	margin-bottom: 10px;
}

.cnt-menu-header > span {
	color: #4c3372;
	font-size: 1.1em;
}

.cnt-menu-cnt {
	padding-left: 20px;
}

.cnt-menu-cnt > nav > a {	
	display: block;
	width: 100%;
	height: 40px;
	text-decoration: none;
	padding-top: 15px;
	padding-left: 20px;
	font-size: 14px;
	color: #767676;
}

.cnt-menu-cnt > nav > a:hover {
	border-left: 1px solid #4c3372;
	color: #4c3372;
}

.cnt-menu-cnt > nav > a:focus {
	font-weight: bold;
	color: #4c3372;
	border-left: 1px solid #4c3372;
}

.cnt-main {	
	float: left;
	padding-left: 40px;
	margin-left: -15px;
}

.cnt-main-header {
	width: 100%;
	height: 30px;
	padding-right: 20px;
	margin-bottom: 10px;
}

.search-panel {	
	float: right;
	margin-right: 25px;
	border: 1px solid #aaa;
	border-radius: 5px;
	background-color: #fff;
	margin-top: 4px;
}

.search-panel > div {
	float: left;
	padding: 0 5px;	
}

.search-panel > div > input {
	width: 250px;
	border: none;
	padding: 0;
	font-size: 16px;
	height: 20px;
	margin-right: 20px;
	color: #4c3372;
}

.search-panel > div > input:focus {
	outline-width: 0;	
}

.search-panel > a {
	display: block;	
	position: relative;	
	height: 16px;
	width: 16px; 		
	background: url("/icons/search.png") no-repeat;	
	margin-left: 260px;
	top: 3px;
}

.view-selector {
	float: right;	
	height: 30px;
	min-width: 59px;
	border-radius: 2px;
	border: 1px solid #4c3372;
}

.view-selector > a {
	display: block;
	float: left;
	height: 28px;
	width: 28px;
	margin: 0;
	padding: 5px;
}

.view-selector > a > img {
	height: 18px;
	width: 18px;
}

.view-selector > a:first-child {	
	width: 29px;
	border-right: 1px solid #4c3372;
}

.new-product {
	float: left;	
	height: 30px;
	min-width: 30px;
	border-radius: 2px;
	border: 1px solid #4c3372;
}

.new-product > a {
	display: block;
	float: left;
	height: 28px;
	width: 28px;
	margin: 0;
	padding: 4px;
}

.new-product > a > img {
	height: 20px;
	width: 20px;
}

@media (min-width: 1505px) {
	.cnt-main {
		width: 1190px;
	}
	.cnt {
		width: 1440px;
	}
}

@media (min-width: 1257px) and (max-width: 1504px) {
	.cnt-main {
		width: 960px;
	}
	.cnt {
		width: 1210px;
	}
}

@media (min-width: 1027px) and (max-width: 1256px) {
	.cnt-main {
		width: 730px;
	}
	.cnt {
		width: 980px;
	}
}

@media (min-width: 760px) and (max-width: 1026px) {
	.cnt-main {
		width: 500px;
		padding-left: 10px;
	}
	.cnt {
		width: 750px;
	}
}

@media (max-width: 600px) {
	.cnt-main {
		width: 250px;
		padding-left: 20px;
	}
	.cnt {
		width: 520px;
	}
	.cnt-menu {
		min-width: 230px;
	}
	.cnt-menu-header {
		padding-left: 10px;
	}
	.cnt-menu-cnt {
		padding-left: 20px;
	}
	.search-panel > div {
		border-top-right-radius: 5px;
		border-bottom-right-radius: 5px;
	}
	.search-panel > div > input {
		width: 178px;
	}
	.search-panel > a {
		margin-left: 188px;
	}
}

.product-box {
	float: left;
	margin-right: 20px;
	margin-bottom: 30px;
	width: 210px;
	height: 260px;
	border: 1px solid rgba(76, 51, 114, 0.7);
	border-radius: 2px;
	padding-left: 10px;
}

.product-box-toolbar {
	float: right;
	width: 30px;
	min-height: 59px;	
	border-bottom: 1px solid #4c3372;
	border-left: 1px solid #4c3372;
	border-bottom-left-radius: 5px;	
}

.product-box-toolbar > a {
	display: block;
	height: 28px;
	width: 28px;
	padding: 5px;
	margin: 0;
}

.product-box-toolbar > a:first-child {
	height: 29px;
	width: 29px;
	border-bottom: 1px solid #4c3372;
}

.product-box-toolbar > a > img {
	height: 20px;
	width: 20px;
}

.product-img {
	display: block;	
	max-width: 150px;
	max-height: 180px;
}

.product-dsc > a {
	color: #33c;
	text-decoration: none;
}

.product-dsc > a:hover, a:focus {
	color: #f00;
	text-decoration: underline;
}

.product-dsc > dl {
	margin: 0;
	font-size: 0.9em;
	padding-top: 10px;
	margin-right: 10px;
}

.product-dsc > dl dt {
	float: left;
	margin-bottom: 5px;
}

.product-dsc > dl dd {
	float: right;
	margin-bottom: 5px;
}

.footer {	
	width: 100%;
	clear: both;
	padding: 30px 0 10px 0;
	text-align: center;
	font-size: 0.8em;
}

.product-info {
	width: 373px;	
}

.product-info-cat {
	margin-bottom: 15px;
	display: block;
}

.product-info input[name="name"] {
	width: 250px;
}

.product-info input[name="articul"] {
	width: 100px;
}

.product-info input[name="price"] {
	width: 100px;
}

.product-info dt {	
	margin-bottom: 2px;
	font-size: 0.9em;
}

.product-info dd {
	margin: 0;	
	margin-bottom: 10px;
}

.product-info-btn {
	float: right;
}